.card_person,
.card_vehiculos,
.card_planets{
    padding: 5px;
    margin: 10px;
    border: 0.5px solid rgb(21, 21, 21);
    border-radius: 10px;
    height: auto;
    width: auto;
    background-color: rgb(73, 72, 72);
}



.card-body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/*info */

.principal_info {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background-image: url("https://wallpaper-house.com/data/out/12/wallpaper2you_531339.jpg");
    background-image: no-repeat;
   

}

.card_vehiculos_info,
.card_planetas_info,
.card_personajes_info {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    border: 2px solid #dc8888;
    padding:5px;
    height: 400px;
    width: 800px;
}

.img_info_vehiculos,
.img_info_planetas,
.img_info_personajes {
    height: 100%; 
    width: auto; 
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    color: white
}

.fa-heart{
    background: red;
}