
.card_vistaGeneral{
   padding-left: 30px;
   padding-right: 30px;
   background-image: url("https://th.bing.com/th/id/R.cf674647efc2e860efb83a1b8b27ced1?rik=bNLJGS6cH7GJ4g&pid=ImgRaw&r=0");
   background-image: no-repeat;

}