
.card_vistaGeneral{
   padding-left: 60px;
   padding-right: 60px;
 background-image: url("https://wallpaper-house.com/data/out/12/wallpaper2you_531339.jpg");
 background-image: no-repeat;

}

.footer{
   background-color: black;
}

.titulo{
  
   padding-top: 10px;
   
}